.tt-suggestion.tt-selectable{background: #ffffff;
color: #040404;
padding: 1.5rem;
border-left: solid 1px #555555;
border-right: solid 1px #555555;
border-bottom: solid 1px #555555;}

.tt-suggestion.tt-selectable a:hover{cursor:pointer;
background:#999999;}

.jumbotron span.twitter-typeahead{width:100%;
font-size:2rem;}
.jumbotron input.tt-hint,.jumbotron input#search-box{width:100%;
padding: 1rem;
font-size: 3rem;}
.jumbotron i.fa.fa-search.form-control-feedback{font-size: 3rem;
padding-top: 2rem;
padding-right: 2rem;}

#error404{text-align:center;}
#error404 img{max-width:50%;}

.btn-primary{background: #cacaca;
border:solid 1px #757575;
color:#414141;
font-weight:bold;}

.btn-primary:hover,.btn-primary:active:hover{background-color: #444444;
color:#ffffff;}