.tt-suggestion.tt-selectable{background: #ffffff;
color: #040404;
padding: 1.5rem;
border-left: solid 1px #555555;
border-right: solid 1px #555555;
border-bottom: solid 1px #555555;}

.tt-suggestion.tt-selectable a:hover{cursor:pointer;
background:#999999;}

.jumbotron span.twitter-typeahead{width:100%;
font-size:2rem;}
.jumbotron input.tt-hint,.jumbotron input#search-box{width:100%;
padding: 1rem;
font-size: 3rem;
border-bottom:solid 2px #1100ff;}
.jumbotron i.fa.fa-search.form-control-feedback{font-size: 3rem;
padding-top: 2rem;
padding-right: 2rem;}

.navbar input.tt-hint,.navbar input#search-box{padding: .5rem;
font-size: 2rem;}

#error404{text-align:center;}
#error404 img{max-width:50%;}

.btn-primary{background: #cacaca;
border:solid 1px #757575;
color:#414141;
font-weight:bold;}

.btn-primary:hover,.btn-primary:active:hover{background-color: #444444;
color:#ffffff;}

#docs-contenido h1{font-size:3rem;
font-weight:bold;}
#docs-contenido h2{font-size:2rem;
font-weight:bold;
margin-bottom:2.75rem;}
#docs-contenido h3{font-size:1rem;}
#docs-contenido h4{font-size:1rem;}
#docs-contenido h5{font-size:1rem;}
#docs-contenido h6{font-size:1rem;}
#docs-contenido p, #docs-contenido li{font-size:1.5rem;
line-height:2.75rem;}
#docs-contenido .btn-primary{margin-top:8rem;
display:none;}
#docs-contenido ol ol{list-style-type:upper-alpha;}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {background:#4f4f4f;
border-color:#000000;
font-weight:bold;}

@media (max-width: 768px){
    #docs-contenido .btn-primary{display:block;}
}

a{color:#1100ff;}